.main-div{
  background-size: 100% 100%;
  background-repeat: repeat-y;
  background-position: left top;
  max-height: 1700px;
  min-height: 100vh;
}

.hexagon-menu {
  height: 100% ;
  display: flex ;
  flex-wrap: wrap ;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.mt20 {
  width: 100%;
  background-color: rgba(30, 37, 48, 0.384);
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0px;
}

.container{
  height: 100vh;
}

.row{
  height: 100%;
}
